<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
<h1 class="h2">Dashboard</h1>
<div class="btn-toolbar mb-2 mb-md-0">
	<div class="btn-group mr-2">
		<button class="btn btn-sm btn-outline-secondary">Share</button>
		<button class="btn btn-sm btn-outline-secondary">Export</button>
	</div>
	<button class="btn btn-sm btn-outline-secondary dropdown-toggle">
		<span data-feather="calendar"></span>This week
	</button>
	</div>
</div>
<!-- chart -->
<canvas class="my-4" id="myChart" width="900" height="380"></canvas>
<!-- records -->
<h2>Records</h2>
<div class="table-responsive">
	<table class="table table-striped table-sm">
		<thead>
			<tr>
				<th>Listing ID</th>
				<th>Listing Month</th>
				<th>Listing Date</th>
				<th>Broker</th>
				<th>Revenue</th>
			</tr>
		</thead>
		<tbody>
			{{#each records}}
			<tr>
				<td>{{broker}}</td>
				<td>{{month}}</td>
				<td>{{listing_month}}</td>
				<td>{{title}}</td>
				<td>{{avg_revenue}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>

